*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    position:relative;
}

.container{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
}
body{
    background-image:url(../img/Untitled\ design\ \(1\).jpg);
    color:white;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.table{
    color:white;
}